// CHANGELOG
// Written by Josh Grooms on 20160207



.example-rendered .icon:before
{
    background-color: #888;
}

.icon(@file)
{
    .example-rendered &
    {
        background-color:   transparent;
    }

    background-image:   url('atom://blues-ui/Icons/@{file}');
    background-size:    1em;
    background-repeat:  no-repeat;
    content:            '';
    vertical-align:     text-bottom;

    .active:not(.tab) > &,
    .selected > &,
    .selected > .header > &
    {
        -webkit-filter: brightness(0);
    }
}


/** FOLDERS **/
.icon-arrow-down:before                 { .icon('Arrow-Down.svg'); }
.icon-arrow-left:before                 { .icon('Arrow-Left.svg'); }
.icon-arrow-right:before                { .icon('Arrow-Right.svg'); }
.icon-arrow-up:before                   { .icon('Arrow-Up.svg'); }
.icon-bookmark:before                   { .icon('Bookmark.svg'); }
.icon-check:before                      { .icon('Check.svg'); }
.icon-chevron-down:before               { .icon('Down.svg'); }
.icon-chevron-left:before               { .icon('Previous.svg'); }
.icon-chevron-right:before              { .icon('Next.svg'); }
.icon-chevron-up:before                 { .icon('Up.svg'); }
.icon-circle-slash:before               { .icon('Cancel.svg'); }
.icon-clippy:before                     { .icon('Paste.svg'); }
.icon-cloud-download:before             { .icon('Download.svg'); }
.icon-cloud-upload:before               { .icon('Upload.svg'); }
.icon-comment:before                    { .icon('Callout.svg'); }
.icon-comment-add:before                { .icon('Callout-Add.svg'); }
.icon-device-desktop:before             { .icon('Computer.svg'); }
.icon-file-add:before                   { .icon('Document-Add.svg'); }
.icon-file-directory-create:before      { .icon('Folder-Add.svg'); }
.icon-file-directory:before             { .icon('Folder.svg'); }
.icon-file-media:before                 { .icon('Music.svg'); }
.icon-file-text:before                  { .icon('Document.svg'); }
.icon-gist-private:before               { .icon('Lock.svg'); }
.icon-git-branch:before                 { .icon('Git-Branch.svg'); }
.icon-git-branch-create:before          { .icon('Git-Branch.svg'); }
.icon-git-branch-delete:before          { .icon('Git-Branch.svg'); }
.icon-git-merge:before                  { .icon('Git-Merge.svg'); }
.icon-globe:before                      { .icon('Connect.svg'); }
.icon-graph:before                      { .icon('Graph.svg'); }
.icon-home:before                       { .icon('Home.svg'); }
.icon-info:before                       { .icon('Information.svg'); }
.icon-jump-down:before                  { .icon('Bottom.svg'); }
.icon-jump-left:before                  { .icon('First.svg'); }
.icon-jump-right:before                 { .icon('Last.svg'); }
.icon-jump-up:before                    { .icon('Top.svg'); }
.icon-keyboard:before                   { .icon('Shortcuts.svg'); }
.icon-lock:before                       { .icon('Lock.svg'); }
.icon-mail:before                       { .icon('Mail.svg'); }
.icon-mail-read:before                  { .icon('Mail-Open.svg'); }
.icon-mark-github:before                { .icon('Git.svg'); }
.icon-mute:before                       { .icon('Volume-Muted.svg'); }
.icon-paintcan:before                   { .icon('Paint.svg'); }
.icon-pencil:before                     { .icon('Pencil.svg'); }
.icon-playback-fast-forward:before      { .icon('Seek-Forward.svg'); }
.icon-playback-pause:before             { .icon('Pause.svg'); }
.icon-playback-play:before              { .icon('Play.svg'); }
.icon-playback-rewind:before            { .icon('Seek-Backward.svg'); }
.icon-primitive-square:before           { .icon('Square.svg'); }
.icon-puzzle:before                     { .icon('Component.svg'); }
.icon-question:before                   { .icon('Help.svg'); }
.icon-repo:before                       { .icon('Git.svg'); }
.icon-repo-create:before                { .icon('Git-Add.svg'); }
.icon-repo-delete:before                { .icon('Git-Subtract.svg'); }
.icon-repo-forked:before                { .icon('Git-Branch.svg'); }
.icon-repo-pull:before                  { .icon('Git-Pull.svg'); }
.icon-repo-push:before                  { .icon('Git-Push.svg'); }
.icon-rss:before                        { .icon('RSS.svg'); }
.icon-star:before                       { .icon('Star-Filled.svg'); }
.icon-star-add:before                   { .icon('Star-Filled.svg'); }
.icon-star-delete:before                { .icon('Star.svg'); }
.icon-stop:before                       { .icon('Cancel.svg'); }
.icon-terminal:before                   { .icon('Terminal.svg'); }
.icon-three-bars:before                 { .icon('Menu.svg'); }
.icon-trashcan:before                   { .icon('Trash.svg'); }
.icon-triangle-down:before              { .icon('Triangle-Down.svg'); }
.icon-triangle-left:before              { .icon('Triangle-Left.svg'); }
.icon-triangle-right:before             { .icon('Triangle-Right.svg'); }
.icon-triangle-up:before                { .icon('Triangle-Up.svg'); }
.icon-unmute:before                     { .icon('Sound.svg'); }


.icon-alert:before,
.icon-issue-opened:before
{
    .icon('Important.svg');
}

.icon-clock:before,
.icon-history:before
{
    .icon('Clock.svg');
}

.icon-dash:before
{
    .icon('Subtract.svg');
}

.icon-gear:before,
.icon-settings:before,
.icon-tools:before
{
    .icon('Settings.svg');
}

.icon-gist-new:before,
.icon-plus:before
{
    .icon('Add.svg');
}

.icon-package:before,
.icon-file-zip:before
{
    .icon('Package.svg');
}
.icon-search:before,
.icon-search-save:before
{
    .icon('Search.svg');
}

.icon-sync:before,
.icon-repo-sync:before
{
    .icon('Sync.svg');
}

.icon-remove-close:before,
.icon-x:before
{
    .icon('Close.svg');
}



/** PACKAGE FILES **/
[data-name *= 'CHANGELOG']:before   { .icon('Clock.svg'); }
[data-name *= 'LICENSE']:before     { .icon('Information.svg'); }
[data-name *= 'README']:before      { .icon('Help.svg'); }

[data-name *= '.git']:before        { .icon('Git.svg'); }



/** FILE TYPES **/
[data-name $= '.npmignore']:before,
[data-name $= '.cson']:before,
[data-name $= '.json']:before
{
    .icon('Settings.svg');
}

[data-name $= '.gif']:before,
[data-name $= '.ico']:before,
[data-name $= '.jpeg']:before,
[data-name $= '.jpg']:before,
[data-name $= '.png']:before,
[data-name $= '.psd']:before,
[data-name $= '.svg']:before
{
  .icon('Photos.svg');
}

[data-name $= '.styl']:before
{
    .icon('Pencil.svg');
}
