@import "ui-variables";
@import "ui-mixins";


/* LIST-GROUP - Governs any general list of items.
 *
 */
.list-group
{
    .flat-list();
    .text(normal);
}

/* LIST-TREE - Governs the lists that appear in tree views. */
.list-tree
{
    .text(normal);
    .tree-list();
}

/* SELECT-LIST - Governs the lists that appear in larger modal windows and overlays. */
.select-list
{
    .inset-list();
}


li.ui-draggable-dragging,
li.ui-sortable-helper
{
    background-color: red;
    background-image: none;
    border: 1px solid @red;
}


.tree-view
{
    .tree-list();

    // .selected .icon::before     { -webkit-filter: brightness(0); }
    .status-added               { color: @text-version-added; }
    .status-modified            { color: @text-version-modified; }


}

.tree-view-resizer
{
  .tree-view-resize-handle
  {
      background-color: transparent;
      width: 1em;
  }
}
