@import "ui-mixins";
@import "ui-variables";
@import "buttons";


.inset-panel
{
    .shallow-inset();
    border-radius: 0.25em;
}

.panels
{
    .deep-inset();
    border-radius:  0.25em;
    padding:        0px;
}
