/** SETTINGS **/

/* SETTINGS-VIEW - Governs the Atom editor settings menu. */
.settings-view
{
    .breadcrumb
    {
        .text(normal);
        border-bottom: 2px solid @shadow-color;
        .active a
        {
            .heading(tertiary);
            color: @selection-color;
        }
    }

    .link,
    .link:hover             { color: @link-color; }
    .setting-description    { .text(subtle); }
    .setting-title          { .heading(quaternary); }

    .config-menu
    {
        background-color: transparent;
        padding-top: 0.125em;

        li.active > a
        {
            background-image: @vibrant-blue-gradient;
        }
        li:hover > a
        {
            background-image: @silver-gradient-horizontal;
            &::before           { -webkit-filter: brightness(0); }
        }

        .btn { font-size: 0.875em; padding-top: 0.125em; }
    }

    .package-card,
    .package-card:hover,
    .package-detail .package-card,
    .package-detail .package-card:hover,
    {
        .shallow-outset();
        border-radius: 0.5em;

        .card-name a            { .heading(quaternary); }
        .package-description    { .text(subtle); }
        &.disabled
        {
            .flat();
            .card-name a            { color: @text-color-disabled; }
            .package-description    { color: @text-color-disabled; }
        }
    }

    section,
    .section
    {
        border-bottom:      2px solid @shadow-color;
        border-top:         1px solid @gloss-color;

        .section-heading
        {
            .heading(primary);

            &.icon:before
            {
                background-size:    2em;
                height:             2em;
                width:              2em;
            }
        }
        &:empty
        {
            background-color:   transparent;
            border:             none;
        }
        &.sub-section
        {
            border: none;
            .sub-section-heading { .heading(secondary); }
        }
    }

    .package-readme h1          { .heading(secondary); }
}

/* STYLEGUIDE - Governs the page displayed by the 'Styleguide' package provided by Atom. */
.styleguide
{
    .deep-inset();
    padding: 0px;

    header
    {
        background-color:   @gloss-color;
        border:             none;
        box-shadow:         inset 0px 0px 3px @shadow-color,
                            0px 5px 3px -3px @shadow-color;
    }

    section,
    .section
    {
        background-color:   @inset-color-dark;
        border-bottom:      2px solid @shadow-color;
        border-top:         1px solid @gloss-color;

        .section-heading
        {
            .heading(primary);
            &:hover     { color: @highlight-color !important; }
        }
        &.collapsed .section-heading
        {
            color: @text-color-folded !important;
            &:hover { color: @highlight-color !important; }
        }

        h2 { .heading(tertiary); }
    }
}

.welcome
{
    .deep-inset();
    svg.welcome-logo
    {
        color:                  @selection-color;
    }

    summary
    {
        .shallow-outset();
        border-radius:          0.5em;
    }

    .welcome-card
    {
        background-color:       transparent;
    }
    .welcome-highlight
    {
        color:                  @selection-color;
    }
}
