@import "ui-variables";

@modified-icon-width: 8px;
@tab-skew: 0deg;
@tab-top-padding: 0px;

@tab-modified-icon-top:     (@tab-title-height - @tab-modified-icon-size) / 2;
@tab-title-height:          @tab-height + @tab-bar-margin;

.tab-bar
{
    .shallow-inset();

    border-radius:          0.25em;
    margin:                 @tab-bar-margin 0em @tab-bar-margin 0em;

    &::-webkit-scrollbar
    {
        display: none;
    }

    .tab
    {
        background:             transparent;
        color:                  @text-color;
        line-height:            @tab-height;
        padding-top:            1px;
        text-align:             center;

        &.active
        {
            border-bottom:      @tab-underline-height solid @selection-color;
            box-shadow:         inset 0px -5px 5px -5px @selection-color;
            color:              @selection-color;
            font-weight:        bold;

            &.modified
            {
                border-bottom:  @tab-underline-height solid @text-color-modified;
                box-shadow:     inset 0px -5px 5px -5px @text-color-modified;
            }
        }

        &.modified
        {
            color:              @text-color-modified;
            font-weight:        bold;
        }

        .close-icon:hover       { color: @red; }

        .title::before
        {
            margin-bottom:      2px;
            vertical-align:     middle;
        }
    }
}
