@import "ui-variables";

.tree-view
{
    .tree-list();

    background: @window-color;
    z-index: 1;


    .status-added       { color: @text-version-added; }
    .status-modified    { color: @text-version-modified; }
}

.tree-view-resizer
{
  .tree-view-resize-handle
  {
      background-color: transparent;
      width: 1em;
  }
}
