@import "ui-variables";

.tree-view
{
    .tree-list();

    background: @window-color;
    z-index: 1;
}

.tree-view-resizer
{
  .tree-view-resize-handle
  {
      background-color: transparent;
      width: 1em;
  }
}
