@black:             #000000;
@light-black:       #191919;

@very-light-gray:   #707070;
@light-gray:        #646464;
@semi-light-gray:   #575757;    /* [ 87,  87,  87] */
@gray:              #4B4B4B;
@semi-dark-gray:    #3E3E3E;
@dark-gray:         #323232;
@very-dark-gray:    #252525;

@very-dark-silver:  #7D7D7D;    // [125, 125, 125]
@dark-silver:       #898989;    // [137, 137, 137]
@semi-dark-silver:  #969696;    // [150, 150, 150]
@silver:            #A2A2A2;    // [162, 162, 162]
@semi-light-silver: #AFAFAF;    // [175, 175, 175]
@light-silver:      #BBBBBB;    // [187, 187, 187]
@very-light-silver: #C8C8C8;    // [200, 200, 200]
@very-dark-white:   #D4D4D4;    // [212, 212, 212]
@dark-white:        #E1E1E1;    // [225, 225, 225]
@semi-dark-white:   #EDEDED;    // [237, 237, 237]
@white:             #FFFFFF;

// @blue:              #81a2be;
@blue:              #3296FF;
@cyan:              #8abeb7;
@green:             #b5bd68;
@light-orange:      #f0c674;
@orange:            #de935f;
@purple:            #b294bb;
@red:               #cc6666;

// @dark-blue:         #3296FF;    // [ 50, 150, 255]
@light-blue:        #3296FF;
@dark-blue:         #0064FF;
@vibrant-blue:      #00C8FF;
// @vibrant-blue:      darken(#00C8FF, 10%);





/** GRADIENTS **/
@vibrant-blue-gradient: -webkit-linear-gradient(
    top,
    lighten(@vibrant-blue, 15%),
    darken(@vibrant-blue, 15%));

@vibrant-blue-gradient-vertical: -webkit-linear-gradient(
    left,
    lighten(@vibrant-blue, 12.5%),
    darken(@vibrant-blue, 12.5%));

@dark-gray-gradient: -webkit-linear-gradient(
    top,
    darken(@dark-gray, 12.5%),
    lighten(@dark-gray, 0%));

@silver-gradient-vertical:       -webkit-linear-gradient(
    left,
    lighten(@gray, 12.5%),
    lighten(@gray, 0%));

@silver-gradient-horizontal:     -webkit-linear-gradient(
    top,
    lighten(@gray, 12.5%),
    lighten(@gray, 0%));



/** BUILTIN THEME COLORS **/
@app-background-color:              @window-color;
@base-background-color:             @window-color;
@base-border-color:                 transparent;

@background-color-error:            #c00;
@background-color-highlight:        @silver;
@background-color-info:             #0098ff;
@background-color-selected:         @vibrant-blue-gradient;
@background-color-success:          #17ca65;
@background-color-warning:          #ffaa2c;

@button-background-color:           transparent;
@button-background-color-hover:     @silver;
@button-background-color-selected:  @vibrant-blue;
@button-border-color:               @light-black;

@input-background-color:            @dark-gray;
@input-border-color:                @gray;

@inset-panel-background-color:      fade(@shadow-color, 0.25);
@inset-panel-border-color:          transparent;                    // Not used

@pane-item-background-color:        transparent;
@pane-item-border-color:            transparent;                    // Not used

@panel-heading-background-color:    transparent;
@panel-heading-border-color:        transparent;

@overlay-background-color:          @very-dark-gray;
@overlay-border-color:              transparent;                    // Not used

@tree-view-background-color:        transparent;
@tree-view-border-color:            transparent;

@tool-panel-background-color:       transparent;
@tool-panel-border-color:           transparent;

@ui-site-color-1:                   @background-color-success; // green
@ui-site-color-2:                   @background-color-info; // blue
@ui-site-color-3:                   @background-color-warning; // orange
@ui-site-color-4:                   #db2ff4; // purple
@ui-site-color-5:                   #f5e11d; // yellow




/** CUSTOM THEME COLORS **/
@autocomplete-description-color:    fade(@shadow-color, 12.5%);
// @autocomplete-description-color:    @overlay-background-color;


@text-color:                        @light-silver;
@text-color-added:                  @text-color-success;
@text-color-error:                  #c00;
@text-color-heading:                @dark-blue;
@text-color-highlight:              @dark-gray;
@text-color-ignored:                @text-color-subtle;
@text-color-info:                   @light-blue;
@text-color-modified:               @text-color-warning;
@text-color-removed:                @text-color-error;
@text-color-renamed:                @text-color-info;
@text-color-selected:               @dark-gray;
@text-color-subheading:             @text-color;
@text-color-subtle:                 @dark-silver;
@text-color-success:                #2BDA77;
@text-color-warning:                #ff982d;

@window-color:                      @gray;
@window-color-dim:                  @semi-dark-gray;
@window-color-dimmer:               @dark-gray;
@window-color-light:                @light-gray;

@gloss-color-darker:                darken(@gloss-color, 14.29%);
@gloss-color-dark:                  darken(@gloss-color, 9.52%);
@gloss-color-semidark:              darken(@gloss-color, 4.76%);
@gloss-color-normal:                @gloss-color;
@gloss-color:                       @silver;
@gloss-color-semilight:             lighten(@gloss-color, 4.76%);
@gloss-color-light:                 lighten(@gloss-color, 9.52%);
@gloss-color-lighter:               lighten(@gloss-color, 14.29%);

@scrollbar-background-color:        @dark-gray; // Needs to be opaque -> atom/atom/issues/4578
@scrollbar-foreground-color:        @silver-gradient-vertical;
@scrollbar-color:                   @vibrant-blue;

@shadow-color-normal:               @shadow-color;
@shadow-color:                      @black;
@shadow-color-semilight:            lighten(@shadow-color, 4.76%);
@shadow-color-light:                lighten(@shadow-color, 9.52%);
@shadow-color-lighter:              lighten(@shadow-color, 14.29%);

@tab-bar-background-color:          rgba(0, 0, 0, 0.125);
@tab-bar-border-color:              transparent;
@tab-background-color:              transparent;
@tab-background-color-active:       transparent;
@tab-border-color:                  transparent;
@tab-text-color:                    @silver;
@tab-text-color-active:             @vibrant-blue;
@tab-text-color-modified:           #0064FF;








/** SIZES **/
@font-size:                         10pt;
@input-font-size:                   1em;

@disclosure-arrow-size:             12px;

@component-padding:                 15px;
@component-icon-padding:            5px;
@component-icon-size:               16px;
@component-line-height:             25px;
@component-border-radius:           5px;

@pane-separator-width:              5px;

@tab-height:                        2.5em;
@tab-font-size:                     1em;
@tab-bar-margin:                    0.25em;
@tab-bar-padding:                   0.25em;
@tab-max-width:                     100px;
@tab-modified-icon-size:            1em;
@tab-spacing:                       0.25em;
@tab-underline-height:              1px;


// Other

@font-family: 'Consolas', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
// @font-family: Ubuntu;
